@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
	box-sizing: border-box;
}

body {
	background-color: #77ccff;
	color: #000000;
	font-family: "Noto Sans", sans-serif;
	font-size: 13pt;
	padding: 8mm;
}

article {
	background-color: #ffffff;
	box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
	height: 297mm;
	margin: 0 auto;
	padding: 15mm;
	position: relative;
	text-align: center;
	width: 210mm;
}

h1 {
	font-size: 20pt;
	font-weight: 700;
	margin: 0 0 5mm 0;
	padding: 0;
	text-align: center;
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	background-color: #f7f7f7;
	box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 13pt;
	font-weight: 700;
	margin: 2mm;
	padding: 3mm;
	position: relative;
	text-align: center;
	top: 2px;
}

li:hover {
	background-color: #e7e7e7;
}

footer {
	font-size: 10pt;
	margin: 0 auto;
	margin-top: 3mm;
	text-align: center;
	width: 195mm;
}

a {
	color: #000000;
}

#info {
	color: #77ccff;
	cursor: pointer;
	font-size: 20pt;
	position: absolute;
	left: 5mm;
	top: 5mm;
}

#info-panel {
	background-color: #ffffff;
	box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
	display: block;
	padding: 10mm;
	position: absolute;
	left: 5mm;
	top: 17mm;
	text-align: justify;
	width:75mm;
}

#reload {
	color: #77ccff;
	cursor: pointer;
	font-size: 20pt;
	position: absolute;
	right: 5mm;
	top: 5mm;
}

.copied {
	color: #c7c7c7;
	cursor: default;
	text-decoration: line-through;
}

.copied:hover {
	background-color: #f7f7f7;
}

.hide {
	display: none !important;
}
